<p class="text-center"><%= current_user.email %></p>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-md-8">
      <%= simple_form_for([@product, @purchase]) do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :address_1 %>
        <%= f.input :address_2 %>
        <%= f.input :country, as: :string %>
        <%= f.input :state %>
        <%= f.input :zip %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.submit class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>
