<div class="container py-3">
  <!-- <h1>Purchases#index</h1> -->
  <!-- <p>Find me in app/views/purchases/index.html.erb</p> -->
  <div class="row justify-content-center">
    <% @purchases.reverse.each do |purchase| %>
    <%# product = Product.find(purchase.product_id) %>
      <% product = purchase.product %>
      <div class="col-12 col-lg-10">
        <div class="card-product mb-3 d-flex align-items-start">
          <%= cl_image_tag product.photo, alt: product.title %>
              <div class="card-product-infos">
              <div class="">
                <div class="card-product-title"><p class="h5 py-3 border-bottom"><%= product.title %></p></div>
                <div class="card-product-other-infos"><p class ="text-secondary">$ <%= product.price %></p>
                <p class ="text-secondary">Seller: <%= product.user.first_name %></p></div>
              </div>
              <div>
                <span><%= link_to "cancel", "#"  %></span>
                &nbsp;&nbsp;
                <span><%= link_to "show", purchase_path(purchase)  %></span>
              </div>
              <p class="card-product-purchased"><%= purchase.done = "test" %></p>
            </div>
        </div>
      </div>
        <% end %>
  </div>
</div>
