<%= simple_form_for "/" do |f| %>
  <%= f.error_notification %>
  <h4 class="mb-3">Billing address</h4>
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.input :first_name, class: "form-control" %>
    </div>
    <div class="col-md-6 mb-3">
      <%= f.input :last_name, class: "form-control" %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.input :email, input_html: { autocomplete: 'email' } %>
  </div>

  <div class="mb-3">
    <%= f.input :address_1, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.input :address_2, class: "form-control" %>
  </div>

  <div class="row">
    <div class="col-md-5 mb-3">
      <%= f.input :country, as: :string, class: "custom-select d-block w-100" %>
    </div>
    <div class="col-md-4 mb-3">
      <%= f.input :state, class: "custom-select d-block w-100" %>
    </div>
    <div class="col-md-3 mb-3">
      <%= f.input :zip, class: "form-control" %>
    </div>
  </div>
  <hr class="mb-4">
  <div class="custom-control custom-checkbox mb-4">
    <input type="checkbox" class="custom-control-input" id="same-address">
    <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
  </div>

  <h4 class="mb-3">Payment</h4>

  <div class="d-block my-3">
    <div class="custom-control custom-radio">
      <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
      <label class="custom-control-label" for="credit">Credit card</label>
    </div>
    <div class="custom-control custom-radio">
      <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
      <label class="custom-control-label" for="debit">Debit card</label>
    </div>
    <div class="custom-control custom-radio">
      <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
      <label class="custom-control-label" for="paypal">PayPal</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="cc-name">Name on card</label>
      <input type="text" class="form-control" id="cc-name" placeholder="" required>
      <small class="text-muted">Full name as displayed on card</small>
      <div class="invalid-feedback">
        Name on card is required
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="cc-number">Credit card number</label>
      <input type="text" class="form-control" id="cc-number" placeholder="" required>
      <div class="invalid-feedback">
        Credit card number is required
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mb-3">
      <label for="cc-expiration">Expiration</label>
      <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
      <div class="invalid-feedback">
        Expiration date required
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="cc-cvv">CVV</label>
      <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
      <div class="invalid-feedback">
        Security code required
      </div>
    </div>
  </div>
  <hr class="mb-4">
  <%= f.button :submit, "Continue to checkout", class: "btn-primary" %>
<% end %>
