

<p><%= @product.title %></p>
<p><%= @product.description %></p>
<hr>
<p>Brand:<%= @product.brand%></p>
<p>Model<%= @product.model%></p>
<p>Price:<%= @product.price%></p>
<p>Year:<%= @product.year%></p>
<p>User:<%= @product.user_id%></p>
<p>Color:<%= @product.color_id%></p>
<p>Size:<%= @product.size%></p>
