<div class="container m-5">
  <div class="col-8">
    <img src=" <%= @product.fake_photo %>">
    <p><%= @product.title %></p>
    <p><%= @product.description %></p>
    <p>Brand:<%= @product.brand%></p>
    <p>Model<%= @product.model%></p>
    <p>Price:<%= @product.price%></p>
    <p>Year:<%= @product.year%></p>
    <p>User:<%= @product.user_id%></p>
    <p>Color:<%= @product.color_id%></p>
    <p>Size:<%= @product.size%></p>
  </div>
  <%= link_to "Back", root_path, class: "btn btn-secondary"  %>
  <%= link_to "Buy now", new_product_purchase_path(@product), class: "btn btn-primary"  %>
</div>

