

<div class="card m-5 p-3" style="max-width: 1200px">
  <div class="row">
    <div class="col-sm-6">
      <h5 class="card-title"><%= @product.title %></h5>
    </div>
  </div>
<hr>
  <div class="row justify-content-between">
    <div class="col-sm-6">
      <img src="<%= @product.fake_photo %>" class="img" alt="<%= @product.title %>">
    </div>

    <div class="col-sm-6">
      <div class="card-body">
        <p class="card-text small">Model: <strong><%= @product.model%></strong> </p>
        <p class="card-text small">Brand: <strong><%= @product.brand%></strong></p>
        <p class="card-text small">Price: <strong><%= @product.price%></strong> </p>
        <p class="card-text small">Description: <strong><%= @product.description %></strong>  </p>
        <p class="card-text small">Year:<strong><%= @product.year%></strong> </p>
        <p class="card-text small">User: <strong><%= @product.user_id%></strong> </p>
        <p class="card-text small">Color: <strong><%= @product.color_id%></strong> </p>
        <p class="card-text small"> Size: <strong><%= @product.size%></strong> </p>

<div class="row justify-content-center">
      <%= link_to "Buy now", new_product_purchase_path(@product), class: "btn btn-secondary"  %>

</div>
      </div>
    </div>
      <%= link_to "Back", root_path, class: "btn btn-link" %>
  </div>
</div>
